<?xml version="1.0" encoding="UTF-8"?>

<beans default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc   http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/beans                 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context               http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx   	                http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/aop                   http://www.springframework.org/schema/aop/spring-aop-4.0.xsd		
		http://www.springframework.org/schema/cache                 http://www.springframework.org/schema/cache/spring-cache-4.1.xsd ">

	<cache:annotation-driven />
	<tx:annotation-driven/>
	

<tx:advice id="txAdvice" transaction-manager="transactionManager">
    <tx:attributes>
        <tx:method name="get*" />
        <tx:method name="*" />
    </tx:attributes>
</tx:advice>

<aop:config>
    <aop:pointcut id="personServiceOperation"
        expression="execution(* com.eventlabs.*.*())" />
    <aop:advisor advice-ref="txAdvice" pointcut-ref="personServiceOperation" />
</aop:config>

	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/event_labs_db" />
		<property name="username" value="root" />
		<property name="password" value="admin" />
	</bean>


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		lazy-init="false">
		<property name="dataSource" ref="myDataSource" />
		<property name="hibernateProperties" ref="hibernateProperties" />
		<property name="mappingResources">
			<list>
				<value>com/eventlabs/mapping/Login.hbm.xml</value>
				<value>com/eventlabs/mapping/UserDetails.hbm.xml</value>
				<value>com/eventlabs/mapping/ActivitiesLogs.hbm.xml</value>
			    <value>com/eventlabs/mapping/EventDetails.hbm.xml</value>
			    <value>com/eventlabs/mapping/EventImage.hbm.xml</value>
			    <value>com/eventlabs/mapping/City.hbm.xml</value>
			    <value>com/eventlabs/mapping/IndustryType.hbm.xml</value>
			     <value>com/eventlabs/mapping/Country.hbm.xml</value>
			    <value>com/eventlabs/mapping/Category.hbm.xml</value>
			    <value>com/eventlabs/mapping/EventType.hbm.xml</value>
			    
			</list>
		</property>
	</bean>
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
		<property name="caches">
			<set>
				<bean
					class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
					p:name="default" />
				<bean
					class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
					p:name="brandListCache" />
			</set>
		</property>
	</bean>
	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">create</prop> -->
				<prop key="hibernate.lazy">true</prop>
				<prop key="hibernate.show_sql">false</prop>
				<!-- <prop key="hibernate.current_session_context_class">thread</prop> -->
				<prop key="hibernate.max_fetch_depth">3</prop>
			</props>
		</property>
	</bean>


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="openSessionInViewInterceptor"
		class="org.springframework.orm.hibernate4.support.OpenSessionInViewInterceptor">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="singleSession" value="true" />
	</bean>

	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- DAO bean properties -->
	<bean id="hibernateConnectionDao" class="com.eventlabs.dao.HibernateConnectionDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="userDao" class="com.eventlabs.dao.UserDAOImpl"
		parent="hibernateConnectionDao">
	</bean>
	<bean id="commonDao" class="com.eventlabs.dao.CommonDAOImpl"
		parent="hibernateConnectionDao">
	</bean>
	 <bean id="eventDao" class="com.eventlabs.dao.EventDAOImpl"
		parent="hibernateConnectionDao">
	</bean>
</beans>