<div id="home">
Template 2
</div>


<div id="home">
event template 1

<form name="eventForm">
 <fieldset>
	<input type="text" id="eventName" placeholder="eventName" ng-model="eventName"> <br>
	<input type="text" id="elocation" placeholder="Location" ng-model="eventLocation"> <br>
	<input type="text" id="etype" placeholder="Event Type" ng-model="eventType"> <br>
	<input type="text" id="startDate" placeholder="Select Start Date" ng-model="startDate"> <br>
	<input type="text" id="endDate" placeholder="Select End Date" ng-model="endDate"> <br>
	<input type="text" id="images" placeholder="Images" ng-model="images"> <br>
	<input type="text" id="videos" placeholder="vedios" ng-model="videos"> <br>
			
      <legend>Upload on form submit</legend>
      Username:
      <input type="text" name="userName" ng-model="username" size="31" required>
      <i ng-show="myForm.userName.$error.required">*required</i>
      <br>Photo:
      <input type="file" ngf-select ng-model="picFile" name="file"    
              ngf-max-size="444MB" required
             ngf-model-invalid="errorFile">
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large 
          {{errorFile.size / 1000000|number:1}}MB: max 44M</i>
      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
      <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>
      <button ng-click="createEvent(picFile)">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"  ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
</form>

</div>