<html>
<head>
<link rel="stylesheet" type="text/css" href="css/create-event.css">
<script src="js/create-event.js"></script>
</head>
<body>
    <div class="sign-up-popup">
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
<form name="eventForm">
 <fieldset class="fieldset1">              
			   <section>
                    <div class="container">
                        <div class="logo">
                            <img src="images/logo-white.png" style="width:30%; height:20%; margin-top: 0px;">
                        </div>
						
                        <div class="event-name">
                            <label>Event Name :</label>
                            <input type="text" id="eventName" class="bt" placeholder="eventName" ng-model="eventName">
                        </div>
                        <div class="event-type">
                            <label>Event Type :</label>
                          <input type="text" ng-model="eventType" placeholder="Select eventType" uib-typeahead="eventType as eventType.eventTypeName for eventType in eventTypeList | filter:{eventTypeName:$viewValue}" typeahead-template-url="eventListDropdown" class="form-control bt" typeahead-show-hint="true" typeahead-min-length="0">
                        </div>
                        <div class="industry-type">
                            <label>Industry Type :</label>
                            <input type="text" ng-model="industry" placeholder="Select industry" uib-typeahead="industry as industry.industryTypeName for industry in industryList | filter:{industryTypeName:$viewValue}" typeahead-template-url="industryDropdown" class="form-control bt" typeahead-show-hint="true" typeahead-min-length="0">
                        </div>
                        <div class="country">
                            <label>Country :</label>
                            <input type="text" ng-model="country" placeholder="Select country" uib-typeahead="country as country.countryName for country in countryList | filter:{countryName:$viewValue}" typeahead-template-url="countryDropdown" class="form-control bt" typeahead-show-hint="true" typeahead-min-length="0">
                        </div>
                        <div class="city">
                            <label>City :</label>
                          <input type="text" ng-model="city" placeholder="Select city" uib-typeahead="city as city.cityName for city in getcityes(country.countryId) | filter:{cityName:$viewValue}" typeahead-template-url="cityDropdown" class="form-control bt" typeahead-show-hint="true" typeahead-min-length="0">
                        </div>
                        <div class="event-date">
                            <label>Start Date :</label>
                            <input type="text" id="startDate" class="bt" placeholder="Select Start Date" ng-model="startDate">
							</div>
							 <div class="event-time">
                            <label>End Date :</label>
                             <input type="text" id="endDate" class="bt" placeholder="Select End Date" ng-model="endDate">
                        </div>
                    <!--    <div class="event-time">
                            <label>Start Time</label>
                            <input type="time" class="start-time bt2" required>
                            <label>End Time</label>
                            <input type="time" class="end-time bt2" required>
                        </div>    -->
                        <div class="web-url">
                            <div class="web-label" style="margin-left: 35%;">
                                <label >Website URL OR Upload Photo</label>
                            </div>
                               <input type="text" id="websiteURL" class="bt" placeholder="www.eventllabs.com" ng-model="webURL">
							    <input type="file" ngf-select ng-model="picFile" name="file"    
              ngf-max-size="444MB" required
             ngf-model-invalid="errorFile">
			  <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large 
          {{errorFile.size / 1000000|number:1}}MB: max 444M</i>
		   <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
      <button ng-click="picFile = null" ng-show="picFile">Remove</button>
	  <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"  ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                        </div>
                     
                    </div>
                       <div class="submit-button">
                            <button type="button" class="submit-data buttan" value="Create Event" ng-click="createEvent(picFile)" style="text-align: center;">
                            Create Event</button>
                        </div>
                </section>
				</fieldset>

</form>
</div>
</div>
</div>
</body>
</html>