<div id="signinPannel">
	<input type="text" id="userId" placeholder="Email or Phone number" ng-model="userId">
	<input type="password" id="password" placeholder="Password" ng-model="password">
	<button type="button" id="signin" ng-click="verifyUser()">Sign
		In</button>
	<a href="#/forgotPassword">forgot Password</a><br><br>
	<button ng-click="authenticate('facebook')">Sign in with
		Facebook</button>
	<button ng-click="authenticate('google')">Sign in with Google
	</button>
</div>
<br>
<div> <img alt="waiting" src="images/logo.png" width="200px" height="200px"></div><br>
<div id="contant">
	<div id="logo"></div>
	<div id="signinPannel">
		<input type="text" id="firstName" placeholder="FirstName" ng-model="fName"> <br>
		<input type="text" id="lastName" placeholder="LastName" ng-model="lName"> <br>
		<input type="text" id="emailId" placeholder="Email Id" ng-model="emailId"> <br>
		<input type="text" id="phoneNumber" placeholder="Phone Number" ng-model="phoneNumber"> <br>
		<input type="password" id="rPassword" placeholder="Password" ng-model="rPassword"><br><br>
		<button type="button" id="signup" ng-click="registorNewUser()">Sign up</button>
	</div>
</div>